.cont {
  display: grid;
  width: 90%;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
  margin-left: 5%;
  margin-right: 5%;

  margin-top: 7rem;
  margin-bottom: 7rem;
}

@media screen and (max-width: 800px) {
  .cont {
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }
}
