.cont {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 2.5rem;

  padding: 0 40px;
  box-sizing: border-box;

  background-color: #000;
}

/* Email section - left */
.detailsSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: auto;
  gap: 1rem;
}

.detailItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: #fa621a;
  font-size: 1rem;
}

.detailsText {
  all: unset;

  color: #ffffff;
  font-size: 16px;
  white-space: nowrap;
}
.emailLink {
  color: #ffffff;
  text-decoration: none;
}

.emailLink:hover {
  color: #fa621a;
}
/* Social icons - right */
.logosCont {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: auto;

  gap: 1rem;
  color: #ffffff;
  font-size: 1.2rem;
}

.logosCont a {
  display: flex;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
}

/* Tablet */
@media screen and (max-width: 1000px) {
  .logosCont {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .cont {
    display: none;
  }
}